<div class="main p-lg-5">
    <div class="d-lg-flex gap-3 d-block p-3 align-items-center">
        <section class="col-12 col-lg-6">
            <h2>Contact Us</h2>
            <p class="text-secondary">Reach out to us, and we’ll be delighted to assist you. Let's get in touch!</p>
            <div class="contact">
                <div class="d-flex align-items-center gap-3 mb-3" *ngFor="let c of contact">
                    <div class="bg-secondary icon p-2 rounded-5">
                        <i class="fa-solid {{c.icon}} m-2"></i>
                    </div>
                    <div class="d-block">
                        <h5>{{c.type | titlecase}}</h5>
                        <p class="m-0">{{c.text}}</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- <section class="col-12 col-lg-6 second rounded-2 p-4">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user"></i></span>
                <input type="text" class="form-control" placeholder="Your Name" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-envelope"></i></span>
                <input type="email" class="form-control" placeholder="Your Email" aria-label="email"
                    aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-phone"></i></span>
                <input type="tel" class="form-control" placeholder="Phone Number" aria-label="phone"
                    aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <textarea class="form-control" aria-label="With textarea" placeholder="Your Message" cols="200" rows="5"></textarea>
            </div>
            <button type="button" class="btn w-100">Send Message</button>
        </section> -->
    </div>

</div>