<section id="home">
    <div class="opac">
        <div class="container-fluid">
            <div class="row text-white p-3" id="first">
                <div class="col-lg-6 col-12 text-start">
                    <h1 class="text-white">Tailored IT Solutions to Streamline Operations</h1>
                    <p class="text-white">We understand the unique challenges faced by businesses in
                        different sectors, and we
                        provide tailored solutions to help you stay ahead of the game.</p>
                    <a class="text-decoration-none text-white" href="#Empower">Learn more &nbsp;<i
                            class="fa fa-solid fa-arrow-down"></i></a>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
</section>
<section id="Empower">
    <div class="container-fluid pt-5">
        <div class="text-center py-5 pt-lg-5 pb-lg-0">
            <h1>Empowering Success with Trestellae</h1>
            <div class="w-75 p-3 m-auto">
                <p class="m-0">Experience unmatched value through our tailored IT solutions, global expertise, scalable teams, continuous learning, data-driven strategies, and collaborative partnerships.</p>
            </div>
        </div>
        <div class="row p-2 p-lg-5 pt-0 g-4 pb-5">
            <div class="col-12 col-lg-4 text-center d-flex" *ngFor="let e of empower">
                <div class="card rounded-4">
                    <div class="card-body py-5 flex-grow-1">
                        <div class="pb-4 text-white"><i class="{{e.iconClass}}"></i></div>
                        <h5 class="card-title text-white">{{e.cardTitle}}</h5>
                        <p class="card-text text-white">{{e.cardText}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section id="Discover">
    <div class="container-fluid">
        <div class="text-center py-3">
            <h2 class="m-0">Discover the Latest in Career and Industry Trends</h2>
        </div>
        <div class="row p-2 g-4 p-lg-5 pt-lg-2">
            <div class="col-12 col-lg-4 d-flex" *ngFor="let d of discover">
                <div class="card" id="discover">
                    <img src="{{d.img}}" class="card-img-top" alt="...">
                    <div class="card-body flex-grow-1">
                        <h5 class="card-title">{{d.cardTitle}}</h5>
                        <p class="card-text">{{d.cardText}}</p>
                        <p class="card-text"><small class="text-body-secondary">2024-07-02</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<section id="contact">
    <div class="container-fluid">
        <div>
            <app-contact></app-contact>
        </div>
        
    </div>
</section>
<router-outlet></router-outlet>