.navbar{
    background-color: #1b6df1;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
.navbar-toggler{
    border: none;
    color: white;
}