<div class="main">
    <div class=" justify-content-center user-select-none">
        <div class="first text-center p-3 p-lg-5">
            <h2 class="p-3 pb-0 m-0">Business Process Consulting</h2>
            <p class="p-3 text-center col-lg-8 mx-auto pe-none">Business Process Consulting optimizes workflows to
                improve efficiency and productivity, helping organizations reduce costs and achieve their goals.</p>
                <div class="img-wrap">
                    <img src="https://cdn.pixabay.com/photo/2016/07/14/08/25/office-1516329_1280.jpg" width="100%" alt=""  class="p-3">
                </div>
            <h2 class="p-3 pb-0 m-0">Our Expertize</h2>
            <p class="p-3 p-lg-5 pt-lg-3">At Trestellae, we specialize in delivering top-notch business process consulting
                across various industries. Our experienced team excels in identifying inefficiencies and implementing
                strategies to streamline operations, boost efficiency, and foster growth. We've consistently helped
                businesses transform their workflows and reach their strategic objectives.
                <br><br> Our consulting approach is tailored to each client's specific needs and goals. We thoroughly
                assess their situation, pinpoint key issues, and devise a customized action plan. Our consultants
                collaborate closely with clients to execute the plan, track progress, and adjust as needed to ensure
                success.
            </p>

        </div>
    </div>

</div>